@keyframes buttonHover{
  from{
    width:0px;
  }
  to {
    width: 189px;
  }
}
@keyframes changeColor{
  from{
    color: var(--pink);
    font-weight: 300;
  }
  to {
    color: var(--base);
    font-weight: 400;
  }
}

@keyframes changeSVGColor{
  from{
    fill: var(--pink);
  }
  to {
    fill: var(--base);
  }
}

.title{
  color: var(--rose);
  font-weight: 300;
  font-size: max(3vw, 40px);
  font-family: 'Segoe Script', cursive;
}
.main {
  min-height: 100vh;
  padding: 3rem 0;
  background-color: var(--base);
  flex: 1;
  display: flex;
  flex-direction: row;

}

.textSection{
  display: flex;
  flex-direction: column;
  flex-grow: 4;
  justify-content: center;
  margin-left: 6vw;
  font-family: 'Roboto', sans-serif;  
}
.illustSection{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  margin-left: 1vw;
}
.illustSection span{
  color:var(--text2 );
  margin-top:30px;
}
@media screen and (max-width: 768px) {
  .illustSection{
    display: none;
  }
  .buttonFilled{
    padding: 12px 40px !important;
  }
  
}
.roles{
  align-self: baseline;
  display: flex;
  flex-direction: column;
}
.role{
  display: flex;
  flex-direction:row;
  align-items: center;
  margin-top:10px;
}
.role span{
  color: var(--text1);
  margin-left:10px;
}
.role img{
  align-self: flex-start;
  justify-self: flex-start;
}
.action{
  display: flex;
  flex-direction: row;
  margin-top:50px;
}

.buttonOutline{
  background-color: #00000000;
  border: 2px var(--pink) solid;
  border-left: 8px var(--pink) solid;
  color: var(--pink);
  padding: 7px 30px 7px 25px;
  font-size: max(1.3vw, 15px);
  font-family: 'Roboto', sans-serif;  
  font-weight: 400;
  min-width: 189px;
  white-space: nowrap;
  cursor: pointer;

}
.buttonFilled{
  background-color: var(--pink);
  border: none;
  white-space: nowrap;
  color: var(--base);
  padding: 10px 40px;
  font-size: max(1.3vw, 15px);
  font-family: 'Roboto', sans-serif;  
  font-weight: 400;
  cursor: pointer;
}

.filler{
  position: absolute;
  background-color: var(--pink);
  width: 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: var(--base);
  height: 45px;
  z-index: 0;
}

.buttonWrapper:hover .filler{
  animation: buttonHover 0.3s;
  animation-fill-mode: forwards;
}
.buttonWrapper:hover .buttonOutline{
  animation: changeColor 0.1s;
  animation-fill-mode: forwards;
  text-decoration: none;
}
.mail{
  fill: var(--pink);
}
.buttonOutline:hover svg .mail{
  animation: changeSVGColor 0.5s;
  animation-fill-mode: forwards;
}
.buttonOutline img{
  z-index: 2;
}
.buttonOutline div{
  z-index: 2;
}
a .buttonOutline{
  margin-right: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.buttonOutline img{
  margin-right: 5px;
}
